html{
    display: block;
}
h2{
    color: white;
    font-size: 15px;
    border: 0px;
    margin: 0px;
}
body{
    margin:0;
    padding: 0;
    overflow: hidden;
}
input{
  margin: 10px;
  border: 75px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
option{
    text-align: center;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.warning_txt {
    color: white;
    font-size: 10px;
    text-align: center;
}
.header img{
    height: 25px;
    width: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 3px;
}
.body_wrapper{
    background-image: url("img/back.jpg");
    background-color: black;
    background-position: top ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.selection{
    margin: 10px;
    text-align: left;
}
option{
    text-align: center;
}
input::placeholder{
    text-align: center;
    width: 100%;
    color: red;
}
.hddn{
    display: none;}
.unhidden{
    display: block;
}
/* Disount page */
.links{
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links a {
    color: white;
}
.buttoncl{
    justify-content: center;
    border: 35px;
}
.button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 0;

}
#number_text{
    text-align: center;
    color: white;
    font-size: 10px;
}